{% extends 'base.html' %}
{% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/app.css' %}" />
{% endblock styles %}

{% block content %}
<div class="align-right">
<p>
  <form method="GET">
    <input type="text" name="q">
    <button type="submit" >Search</button>
  </form>
</p>
</div>
<br>

<main class="recipe-grid" align='center'>

    {% for recipe in recipe_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
        </h2>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a> <br>
        <img src= "{{ recipe.image }}" height="250">
        <p class="recipe-card-date">{{ recipe.updated }}</p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}
