{% extends 'base.html' %}
{% load markdownify %}
{% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/app.css' %}" />
{% endblock styles %}
{% block content %}
  <main class="recipe-detail">
    <div>
      <button ><a href="{% url 'meal_plan_edit' meal_plan.pk %}">Edit</a></button>
        <button ><a href="{% url 'meal_plan_delete' meal_plan.pk %}">Delete</a></button>
    </div>
    <h2>Recipes for {{ meal_plan.owner | default_if_none:"Unknown" }}</h2>
      {% for recipe in meal_plan.recipes.all %}
          <p><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</p></a>
      {% endfor %}
  </main>
{% endblock content %}
