@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Set all elements to use the Open Sans font */
body, input, textarea, button, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}


/* Set the background color of all pages */
html, body {
  background-color: white;
}

/* Set the style of the navigation list */
header nav ul {
  background-color:white;
  border-bottom: 1px solid #C2DFFF;
  box-sizing: border-box;
  list-style: none;
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0 0 0 1em;
}

/* Set the spacing and layout of the nav list items */
header nav ul li {
  display: inline-block;
  margin: 0 1em;
  padding: 1em 0 1em 0;
}

/* Set the spacing and layout of the visited nav list items */
header nav ul li:hover {
  background-color: #C2DFFF;
  border-color: #C2DFFF;
  color: white;
  padding: 10px;
  border-radius: 15px;

}

/* Set the style of the links in the nav */
header nav ul li a,
header nav ul li a:visited {
  text-decoration: none;
  color: black;
}

/* Set the style of the links/visited links */
a,
a:visited {
    text-decoration: none;
    color:black;
}

button.button {
  background-color: #C2DFFF;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #C2DFFF;
  color: #C2DFFF;
}

button.button:active {
  background-color: #C2DFFF;
}

input, textarea {
  border: 1px solid #C2DFFF;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
}

td, th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.recipe-card-title {
  margin-bottom: 0;
}

.recipe-card-date {
  color: darkgray;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.rating-form-grid {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  align-items: center;
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}

.delete-form {
  max-width: 600px;
  margin: auto;
  text-align: center;
}
