{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrumptious</title>
    {% block styles %}
    {% endblock styles %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/app.css' %}" /> {% endcomment %}
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            {% if user.is_staff %}
            <a href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
          </li>
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'recipe_new' %}">Submit Recipe</a>
          </li>
          <li>
            <a href="{% url 'tags_list' %}">Tags</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'meal_plan_list' %}">Meal Plans</a>
          </li>
          <li>
            <a href="{% url 'shopping_list' %}">Shopping List ({{user.shopping_items.all | length }})</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
            {% else %}
            <li>
              <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </li>
        </ul>
      </nav>
      {% comment %} {% block pagination %} {% endblock pagination %} {% endcomment %}
    </header>
    {% block content %} {% endblock content %}
  </body>
</html>
